.top-bar, .top-bar ul {
  background-color: $nav-bg;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
    white-space: nowrap;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
}
